extends layout

block content
  h1 Blueit_API Mini-Docs
  h3 Posts
  p Posts contain the following fields:
  ul
    li author
    li title
    li content
    li votes
    li created_at
  ul
    li GET http://localhost:9001/posts gets all posts
    li POST http://localhost:9001/posts creates a new post Requires data {content: "somecontent", author: "somename", title: "sometitle"}
    li POST http://localhost:9001/posts/:id edits a current post Requires data {content: "somecontent"}
    li POST http://localhost:9001/posts/:id/upvote edits the post to increase its votes by 1
    li POST http://localhost:9001/posts/:id/downvote edits the post to decrease its votes by 1
    li POST http://localhost:9001/posts/:id/delete deletes a post
  h3 comments
  ul
    li GET http://localhost:9001/comments gets all comments
    li POST http://localhost:9001/comments/:id/edit edits a comment. Requires data {content: "somecontenthere"}
    li POST http://localhost:9001/comments/:id creates a new comment in response to a post. Requires data {content: "somecontent"}
    li POST http://localhost:9001/comments/:id/reply creates a new comment in response to a comment. Requires data {content: "somecontent"}
    li POST http://localhost:9001/comments/:id/delete deletes a comment
